/*  star tglobel rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*  end tglobel rules*/


/*  star componests*/
.mani-heading{
text-align: center;
}
.mani-heading h2{ 
font-weight: normal;
font-size: 40px;
position: relative;
text-transform: uppercase;
margin-bottom: 70px;
}

.mani-heading h2::before{
content: "";
position: absolute;
left: 50%;
transform: translateX(-50%);
height: 2px;
background-color: black;
bottom: -30px;
width: 120px;
}
.mani-heading h2::after{
content: "";

position: absolute;
left: 50%;
transform: translateX(-50%);
border-radius: 50%;
width: 14px;
height: 14px;
border: 2px solid #333;
bottom: -38px;
background-color: white;

}
.mani-heading p{
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color:#777;


}


/*  end componests*/




/*  star variaboles*/
:root{
    --main-color: #19c8fa;
    --transparent-coler: rgb(15  116 143 /70%);
    --secction-padding:100px;
}


/*  end variaboles*/



html{
    scroll-behavior: smooth;
}

body{
   font-family: "Open Sans", sans-serif; 
}
ul{
    list-style: none;

}
.containrer{
  padding-left:  15px;  
  padding-right: 15px;
  margin-left:  auto;
  margin-right:  auto;

}

@media (min-width: 768px ){
.containrer{
    width: 750px;
}

    
}
@media (min-width: 992px ){
.containrer{
    width: 970px;
    
}

    
}@media (min-width:1200px ){
.containrer{
    width: 1170px;
}

    
}

/*  end tglobel rules*/


/*  start header*/



header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

 header .containrer{
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
min-height: 97px;

}
 header .containrer::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc( 100% - 30px );
    left: 15px;
 }
  header .containrer a img{
    height: 40px;

 }
 header nav{
    flex: 1 ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }
 header nav .toggle{
    color: white;
    font-size: 22px;
 }

 @media (min-width: 768px) {
     header nav .toggle{
        display: none;
  }
 }
  header nav .toggle:hover + ul{
display: flex;
flex-direction: column;
position: absolute;
left: 0;
width: 100%;
top: 100%;
  }

  header nav .toggle:hover + ul li a{
    padding: 15px;
  }

 header nav ul {
    display: flex;
  }

 @media(max-width:767px) {
    header nav ul{
        display: none;

        
    }
 }


 header nav ul li a{
    display: block;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;

 }
  header nav ul li a.active,
   header nav ul li a:hover{
    color:var(--main-color);
    border-bottom: 1px solid var(--main-color);

   }
   header nav .from{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left:  30px;
    border-left:  1px solid white;
   }

 header nav .from i{
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
 }
 
/*  end haeder*/
     /*start landing*/
    
.landing{
    min-height: 100vh;
    background-color: bisque;
    background-image: url(imge/badin.jpg) ;
    background-size: cover;

}
.landing .overlay{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(0 0 0 / 40%);

}

.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-coler);
    color: white;
    display: flex;
    justify-content: flex-end;
}
@media (max-width:767px){
    .landing .text{
        width: 100%;

        }
        .landing .text .cntag{
            max-width: 100%;
    }

}
.landing .text .cntag{
    max-width: 500px;

}
.landing .text .cntag h2{
font-size: 30px;
font-weight: normal;
line-height: 1.5;
margin-bottom: 20px;

}
.landing .text .cntag p{
font-size: 14px;
line-height: 2;
}
.landing .cam i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
@media (max-width:767px){
    .landing .cam i{
        display: none;
    }
}

.landing .fa-angle-left{
left:30px ;
}

.landing .fa-angle-right{
right:30px ;

}
.landing .sam{
position: absolute;
left: 50%;
transform: translateY(-50%);
bottom: 30px;
display: flex;
}
.landing .sam li{
width: 20px;
height: 20px;
border: 1px solid white;
border-radius: 50%;
margin-right: 10px;

}
.landing .sam li.ram {
background-color: var(--main-color);
border-color: var(--main-color);
}
     /*end landing*/
     /*start srevices */

@media( min-width:768px){
.services .services-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:40px;
    grid-row-gap:60px;

}

}
.services{
    padding-bottom:var(--secction-padding) ;
    padding-top: var(--secction-padding);
}



.services .srv-box{
display: flex;
   }
   @media(max-width:767px){
     .services .srv-box{
        display: flex;
        flex-direction: column;
        text-align:center;
        
     }
     .services .srv-box i{
margin: 0 0 30px;
     }
   }
 .services .srv-box i{
margin: 50px;
font-size: 50px;
   }

 .services .srv-box h3{
margin: 30px;
color: var(--main-color);
   }
    .services .srv-box p{
line-height: 2;
color: #777;
   }
     /*end  srevices */
     /*strt desing */
.desing{
    padding-top: var(--secction-padding);
    padding-bottom: var(--secction-padding);
    height: 600px;
    position: relative;
    background-image: url(back.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.desing::before{
    
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(0 0 0 / 40%);


}
.desing .img,
.desing.text{
position: relative;
z-index: 2;
flex: 1;
}
.desing .img{
    text-align: center;
    height: 50%px;
}
@media (max-width:767px){
    .desing .img{
        display: none;
    }
}
.desing .img img{
    position: relative;
    bottom: -150px;
}
.desing .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-coler);

}
.desing .text h2{
font-weight: normal;
text-transform: uppercase;
margin: 40px;
}
.desing .text ul li{
padding: 15px 0;
}
.desing .text ul li::before{
font-family: 'font Awesome 5 free';
content: "\f390";
font-weight: 900;
position: relative;
margin-right: 20px;
top: 1px;
}
     /*end desing */
     
     /*start portfolio*/
     .portfolio{
    padding-top: var(--secction-padding);
    padding-bottom: var(--secction-padding);
 }
.portfolio .shuffle{
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li{
    padding: 10px;
}
.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}
.portfolio .imgs{
display: flex;
flex-wrap: wrap;
margin: 60px;
}
 .portfolio  .imgs .box{
position: relative;
overflow: hidden;
}
@media(min-width:768px){
    .portfolio  .imgs .box{
        flex-basis: 50%;

    }
}

@media(min-width:1199px){
    .portfolio  .imgs .box{
        flex-basis: 25%;
        
    }
}
 .portfolio .imgs .box img{
    max-width: 100%;
 }

.portfolio .imgs .box .caption{
position: relative;
 right: 0;
 padding: 20px;
 background-color: white;
 width: 100%;
 transition: 0.3s;
 bottom: -100%;
}
.portfolio .imgs .box:hover .caption {
    bottom: 0;
}
.portfolio .imgs .box:hover img{
    transform: rotate(3deg) scale(1.1);
}
.portfolio .imgs .box .caption h4{
font-weight: normal;
margin: 10px;
}
.portfolio .imgs .box .caption p{
color: var(--main-color);
}
.portfolio a{
background-color: var(--main-color);
text-decoration: none;
text-transform: uppercase;
margin: 30px auto;
width: fit-content;
padding: 15px 20px;
display: block;

}
  /*end portfolio*/
  /*start video*/

.video {
position: relative;
}
.video::before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(0 0 0 / 40%);
}
.video video{
width: 100%;

}
.video .text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
padding: 50px;
text-align: center;
color: white;
background-color: var(--transparent-coler);

}
.video .text h2{
text-transform: uppercase;
margin: 0 0 30px;
font-weight: normal;
}

.video .text p{
margin-bottom: 30px;
}

.video button{
background-color: black;
color:white;
border: none;
padding: 10px 20px;
text-transform: uppercase;
}
  /*end video*/
  /*start about*/

.about{
    padding-top: var(--secction-padding);
    overflow: hidden;

}

.about img{
    width: 100%;
    position: relative;
    bottom: -120px ;
    margin-bottom: -120px;
    max-width: 100%;
}
  /*end about*/

  /*start stats*/
.stats{
    
    padding-bottom:var(--secction-padding) ;
    padding-top: var(--secction-padding);
    text-align: center;
    background-image: url(foto/gan.jfif);
    background-size: cover;
    position: relative;
}
.stats::before{
    
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(0 0 0 / 20%);
}
.stats .containrer{
position: relative;
display: flex;
flex-wrap: nowrap;

}
.stats .containrer .box{
color: white;
padding: 50px ;
background-color: var(--transparent-coler);
}
@media ( max-width: 767px) {
.stats .containrer .box{
    flex-basis:100%;
}

}

@media( min-width:768px){
.stats .containrer .box{
    flex-basis:50%;
}

}

@media( min-width:991px){
.stats .containrer .box{
    flex-basis: 25%;
}

}
.stats .containrer .box i{
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
border-radius: 50%;
margin: 0 auto 30px;
}

.stats .containrer .box .numar{
font-size: 50px;
font-weight: bold;
margin: 0 0 20px ;
}
.stats .containrer .box p{
font-size: 14px;
}
  /*end stats*/
  /*start skilis*/

.our-skills{
    padding-bottom: var(--secction-padding);
    padding-top: var(--secction-padding);
}
 .our-skills .containrer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 @media( min-width: 992px){
 .our-skills .containrer > div{
    flex-basis:45%; 
 }

 }
 .our-skills .containrer > div h3{
    margin: 0 0 30px;
    text-align: center;
    text-transform: uppercasse;
    font-weight: normal;
 }
 .our-skills .containrer > div p{
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
 }
    .our-skills .testimonials .cantent{
display: flex;
align-items: center;
margin-bottom:30px;
flex-direction: row;

    }
    .our-skills .testimonials .cantent img{
width: 100px;
border-radius: 50%;
margin: 50px;
    }

@media( max-width:768px){
    .our-skills .testimonials .cantent img{
margin: 0 0 20px;
    }
    .our-skills .testimonials .cantent{
flex-direction: column;
text-align: center;
    }

}

    .our-skills .testimonials .text{
        border-bottom: 1px solid ;
        line-height: 1.8;
    }
    .our-skills .testimonials .text p{
color: #777;
text-align: center;
font-size: 14px;
    }
    .our-skills .testimonials .bukkets{
        display:flex;
        justify-content:center;
        margin-top:50px;
        margin-bottom:50px;
    }
    .our-skills .testimonials .bukkets li{
        width:14px;
        height:14px ;
        border-radius:50%;
        border:1px solid #aaa;
        margin-right:10px;

    }
    .our-skills .testimonials .bukkets li.active{
background-color: #19c8fa;  
      border-color:var(--main-color);

      }
        .our-skills .skills .prog-holder{
            margin-bottom: 40px;
        }

        .our-skills .skills .prog-holder h4{
            margin-bottom:15px;
            font-weight:normal;
            text-transform:uppercase;
           }
        .our-skills .skills .prog-holder .prog{
           background-color:#dedadc;
           height: 30px; 
        }
        .our-skills .skills .prog-holder .prog span{
display: block;
            background-color: var(--main-color);
            height: 100%;
            position: relative;
        }
        .our-skills .skills .prog-holder .prog span::after{
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 8px;
            border-color:black transparent transparent transparent;
            right:-8px;
            top: -15px;
        }
        .our-skills .skills .prog-holder .prog span::before{
            content: attr(date-progress);
            position: absolute;
            background-color: black;
            color: white;
            top: -40px;
            right: -18px;      
            padding: 4px 0;
            text-align: center;
            width: 40px;
        border-radius: 4px;
         }
  /*end skilis*/
  /*start quote*/
 .quote{
    padding-bottom:var(--secction-padding);
    padding-top: var(--secction-padding);
    background-image: url(imge/car03.jpeg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;

 }
 .quote::before{
    
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(0 0 0 / 40%);

 }
 .quote .containrer{
    position: relative;

 }
 .quote q{
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
 }
  /*end quote*/

/*start pricing*/

.pricing{
    padding-bottom: var(--secction-padding);
    padding-top: var(--secction-padding);
}
.pricing .plans{
    display: grid;
    grid-template-columns: repeat( auto-fill,minmax(250px, 1fr));
    gap: 20px ;
}

.pricing .plans .plan{
    background-color: #fcfcfc;
    text-align: center;
}


.pricing .plans .plan .head{
padding: 40px 20px ;
border-bottom: 1px solid var(--main-color);
border-top: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3{
font-weight: normal;
text-transform: uppercase;
margin-bottom: 20px;
}
.pricing .plans .plan .head .cali{
font-size: 60px;
font-weight: bold;
position: relative;

}
.pricing .plans .plan .head .cali::after{
content: "/mo";
font-size: 25px;
position: relative;
bottom: -20px;
font-weight: normal;

}
.pricing .plans .plan .head .cali::before{
content: "$";
font-size: 25px;
position: relative;
top: -40px;
font-weight: normal;

}
.pricing .plans .plan ul{
    padding: 40px 20px;
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li{
    padding: 20px;
}

.pricing .plans .plan ul li:not(:last-child){
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after{
content: "";
width: 120px;
height: 1px;
background-color: var(--main-color);
position: absolute;
left: 50%;
transform: translateX(-50%);
bottom: 0;
}
.pricing .plans .foot a{
    padding:20px 20px ;
    display: block;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;

}
.pricing .lain{
text-align: center;
margin: 50px auto 20px;
font-size: 20px;
}
.pricing .link{
    display: block;
    margin: 20px auto;
    width: fit-content;
    background-color: var(--main-color);
    color:white;
    padding: 10px;
    text-decoration: none;
}

/*end pricing*/



/*start footer*/
.footer{
    padding-bottom: calc(var(--secction-padding) / 2);
    padding-top: calc(var(--secction-padding) / 2);
    background-image: url(imge/car04.jpeg);
    background-size: cover;
    color: white;
    text-align: center;

}
.footer::before{
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(0 0 0 / 40%);


}
.footer .containrer{
    position: relative;
}
.footer img{
    width: 40px;
    margin-bottom: 20px;
}
.footer .containrer p:not(.copy){
text-transform: uppercase;
padding: 20px;
border-bottom: 1px solid white;
font-size: 22px;
width: fit-content;
margin: 20px auto;
}
.footer .copy{
margin-top: 60px;
}

.footer .social i{
padding: 10px 20px;
color: #19c8fa;
font-size: 30px;
}
.footer .copy span{
font-weight: bold;
color: var(--main-color);
}

/*end footer*/
/*start subscreb*/
.subscreb{
    padding-top: var(--secction-padding);
    padding-bottom: var(--secction-padding);
    background-image: url(imge/car05.jpeg) ;
    background-size: cover;
    position: relative;
    color: white;

}

.subscreb::before{
    
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(0 0 0 / 40%);


}
@media(max-width: 991px){
.subscreb .containrer{
    flex-direction: column;

}

}
.subscreb .containrer{
position: relative;
display: flex;
align-items: center;

}
.subscreb form{
display: flex;
position: relative;
width: 500px;
max-width: 100%;
}
.subscreb form i{
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 25px;

}
.subscreb form input[type="email"]{
border: 1px solid white;
border-right: none;
background: none;
padding: 20px 20px 20px 60px;
caret-color: var(--main-color);
width: calc(100% - 130px);

}
.subscreb form input[type="submit"]:focus
.subscreb form input[type="email"]:focus{
    outline: none;
}

.subscreb form input[type="submit"]{
    width: 130px;
    text-transform: uppercase;
border: 1px solid white;
padding: 10px 20px ;
color: white;
background-color: var(--main-color);
border-left: none;

}
.subscreb form ::placeholder{
    color: white;
}
.subscreb .containrer p{
    
list-style: 2;
margin-left: 50px;
}

@media(max-width: 991px){
.subscreb .containrer p{
margin: 30px 0 0 ;
}


}
/*end subscreb*/
/*sters contact*/
.contact{
    padding-bottom: var(--secction-padding);
    padding-top: var(--secction-padding);


}
.contact .content{
    display: flex;
justify-content: space-between;

}
.contact form{
    flex-basis: 70%;

}
.contact form .min{
    padding: 20px;
    display: block;
    margin-bottom: 30px;
    border: 1px solid #ccc ;
    width: 100%;


}

.contact form .min:focus{
    outline: none;

}
.contact form textarea {
height: 200px;
}
.contact form input[type="submit"]{

    background-color: var(--main-color);
    padding: 20px;
    display: flex;
    margin-left: auto;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
}






.contact .info{
flex-basis: 25%;
}
.contact .info h4{
text-transform: uppercase;
margin-bottom: 30px;
font-weight: 700;
font-size: 18px;

}
.contact .info .phone{
display: block;
margin-bottom: 10px;
color: #777;
}
.contact .info2 h4{
    margin-top: 90px;
}
.contact .info address{
    color: #777;
line-height: 2;
}
@media(max-width:767px){
    .contact .content{
flex-direction: column;
    }
}






